{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>

    {% endblock %}

    {% block scripts%}
    {{ super() }}
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}


{% block content %}

<div class="container">

<div class="row mx-5">


  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    {% if user.bio %}
      <p> {{user.bio}}</p>

    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname = user.username)}}">Edit profile</a>
    {% endif %}

  </div>
  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail rounded-circle mb-3">

    {%else%}

    <p>No profile picture</p>

    {% endif %}

    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname = user.username)}}" method="post" enctype = "multipart/form-data">

      <input style="width: 60%;" type="file"  name="photo" class="form-control" required>
      <div style="margin-left: 70px;margin-top: 10px;" class="text_center">
      <input  class="btn btn-success btn-sm" type="submit">
      </div>
    </form>
      {% endif %}
  </div>


</div>
</div>

<div id="contacts-area" class="container-fluid finish mt-5 pt-5 text-center footer fixed-bottom">
  <footer>
  <div class="container d-flex justify-content-around ">
      <div class="contact">
        <h4 class="text-white">About</h4>
        <p>About Us</p>
        <p>Contact Us</p>
        <p>Privacy</p>
        <p>Terms</p>

      </div>
      <div class="follow">
          <h3 class="text-white">Follow us </h3>
          <a href="/"  target="_blank"><i class="bi bi-twitter tweet"></i>
              <a href="/" target="_blank"><i class="bi bi-facebook fb"></i>
                  <a href="/" target="_blank"><i class="bi bi-instagram ig"></i>
      </div>

      <div class="download">
          
          <select class="form-select" aria-label="Default select example">
              <option selected>SELECT LANGUAGE </option>
              <option value="1">ENGLISH</option>
         
            </select>
      </div>
  </div>

  </footer>
  <footer class="text-center text-white">
      <p class="no_deco">copyright &copy;2021 pitches_hub</p>
  </footer>
</div>
{% endblock %}