{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    {% endblock %}

    {% block scripts%}
    {{ super() }}
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}


{% block content %}

<div class="container">

<div class="row mx-5">


  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    {% if user.bio %}
      <p> {{user.bio}}</p>

    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname = user.username)}}">Edit profile</a>
    {% endif %}

  </div>
  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename = user.profile_pic_path)}}" alt="" class="img-thumbnail rounded-circle mb-3">

    {%else%}

    <p>No profile picture</p>

    {% endif %}

    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',uname = user.username)}}" method="post" enctype = "multipart/form-data">

      <input style="width: 60%;" type="file"  name="photo" class="form-control" required>
      <div style="margin-left: 70px;margin-top: 10px;" class="text_center">
      <input  class="btn btn-success btn-sm" type="submit">
      </div>
    </form>
      {% endif %}
  </div>


</div>
</div>
{% endblock %}