{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>

{% endblock %}


{% block scripts%}
{{ super() }}
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
{% endblock %}


{% block content %}
<div  class="container">
  <div class="row">
    <div class="col">
        <div>
        </div>
          {{ wtf.quick_form(comment_form) }}  
      </div>

      <div class="col">
        {% for comment in comments%}

      <div class="card border-success mb-3">
        <div class="card-body text-success">
          <h5 class="card-title"> <span>{{user.username}} says:</span></h5>
          <p class="card-text">{{comment.comment}}</p>
        </div>
      </div>
      {% endfor %}

      </div>
      </div>
      </div>

  </div>  
</div>

{% endblock %}