{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>

{% endblock %}

{% block scripts%}
{{ super() }}
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div id="pitch-title">
          </div>              
            {{wtf.quick_form(pitch_form)}}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>



  <div id="contacts-area" class="container-fluid finish mt-50 pt-5 text-center fixed fixed-bottom">
    <footer>
    <div class="container d-flex justify-content-around ">
        <div class="contact">
          <h4 class="text-white">About</h4>
          <p>About Us</p>
          <p>Contact Us</p>
          <p>Privacy</p>
          <p>Terms</p>
  
        </div>
        <div class="follow">
            <h3 class="text-white">Follow us </h3>
            <a href="/"  target="_blank"><i class="bi bi-twitter tweet"></i>
                <a href="/" target="_blank"><i class="bi bi-facebook fb"></i>
                    <a href="/" target="_blank"><i class="bi bi-instagram ig"></i>
        </div>
  
        <div class="download">
            
            <select class="form-select" aria-label="Default select example">
                <option selected>SELECT LANGUAGE </option>
                <option value="1">ENGLISH</option>
           
              </select>
        </div>
    </div>
  
    </footer>
    <footer class="text-center text-white">
        <p class="no_deco">copyright &copy;2021 pitches_hub</p>
    </footer>
  </div>
{% endblock %}