{% extends 'base.html'%}
{% import 'macros.html' as macro %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"/>

    {% endblock %}
 

    {% block scripts%}
    {{ super() }}
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}

</head>
<body>
{%block content%}

{% if current_user.is_authenticated%}
<h1 class="text-center mb-5">Hello {{current_user.username|capitalize}} welcome to PITCHES_HUB </h1>
{% else %}
<h1>Hello stranger</h1>
{%endif%}


<div class="container">
    <h3 class="text-center"><ins>Experience Pitches</ins></h3>
  
        <div class="col-4">
            {{ macro.displayPitches(Experience)}}

            <div class="col-md-8" id="post-section">
      {% for post in comments%}
      
      <div class="card peach-gradient color-block mb-3 mx-auto z-depth-1 post-card">
        <h4 class="card-title">{{pitch.title}}</h4>
        <p class="card-body">" ...{{post.comment}} "</p>
        <p class="card-footer"><b>{{user.username}}</b>'s pitch</p>
      </div>  
      
      {% endfor %}
        
    </div>
        
    </div>
    </div>
    



<div class="container">
    <h3 class="text-center"><ins>Education Pitches</ins></h3>
   
    
        <div class="col-4">
            {{ macro.displayPitches(Education)}}

    
    <div class="col-md-8" id="post-section">
      {% for post in comments%}
      
      <div class="card peach-gradient color-block mb-3 mx-auto z-depth-1 post-card">
        <h4 class="card-title">{{pitch.title}}</h4>
        <p class="card-body">" ...{{post.comment}} "</p>
        <p class="card-footer"><b>{{user.username}}</b>'s pitch</p>
      </div>  
      
      {% endfor %}
        
    </div>
        </div>
        </div>



<div class="container">
    <h3 class="text-center"><ins>Technology Pitches</ins></h3>
   
 
        <div class="col-4">
            {{ macro.displayPitches(Technology)}}
            <div class="col-md-8" id="post-section">
      {% for post in comments%}
      
      <div class="card peach-gradient color-block mb-3 mx-auto z-depth-1 post-card">
        <h4 class="card-title">{{pitch.title}}</h4>
        <p class="card-body">" ...{{post.comment}} "</p>
        <p class="card-footer"><b>{{user.username}}</b>'s pitch</p>
      </div>  
      
      {% endfor %}
        
    </div>
        
    </div>
        </div>


      


<div class="container">
    <h3 class="text-center"><ins>Humour Pitches</ins></h3>
  
        <div class="col-4">
            {{ macro.displayPitches(Humour)}}
            <div class="col-md-8" id="post-section">
      {% for post in comments%}
      
      <div class="card peach-gradient color-block mb-3 mx-auto z-depth-1 post-card">
        <h4 class="card-title">{{pitch.title}}</h4>
        <p class="card-body">" ...{{post.comment}} "</p>
        <p class="card-footer"><b>{{user.username}}</b>'s pitch</p>
      </div>  
      
      {% endfor %}
        
    </div>
        
    </div>
        </div>
  



<div class="container">
    <h3 class="text-center"><ins>Intelligence Pitches</ins></h3>
   

        <div class="col-4">
            {{ macro.displayPitches(Intelligence)}}
            
            <div class="col-md-8" id="post-section">
      {% for post in comments%}
      
      <div class="card peach-gradient color-block mb-3 mx-auto z-depth-1 post-card">
        <h4 class="card-title">{{pitch.title}}</h4>
        <p class="card-body">" ...{{post.comment}} "</p>
        <p class="card-footer"><b>{{user.username}}</b>'s pitch</p>
      </div>  
      
      {% endfor %}
        
    </div>
        
    </div>
        </div>

{%endblock%}