<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="/">PITCHES_HUB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
    
        <ul class="nav navbar-nav  d-inline">
          <li><a class="nav-link active"  href="/">Home</a></li>
                 
            {% if current_user.is_authenticated %}
            <li><a href="/">{{current_user.username}}</a></li>
            <li><a style="text-decoration: none;color: black;" href="{{url_for('main.profile',uname = current_user.username)}}">My Profile</a></li>
            </li>
            <li><a style="text-decoration: none;color: black;" href="{{ url_for('main.new_pitch') }}">Create New pitch</a>
            </li>
            <li><a style="text-decoration: none;color: black;" href="{{url_for('auth.logout')}}">Sign out</a></li>
            {% else %}
            <li><a style="text-decoration: none;color: black;" href="#">Guest</a></li>
            <li><a style="text-decoration: none; color: black;" href="{{url_for('auth.login')}}">Sign in</a></li>
            {%endif%}
          </ul>
      </div>
    </div>
  </nav>